<div class="container">    
    <div class="row">
        <div warden-navbar style="background-color:steelblue"></div>
    </div>
</div>
<div class="container">
    <div class="row dashboard-content">
        <header>
            <h3><span class="glyphicon glyphicon-tasks"></span> Companies</h3>
        </header>
         <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="vm.create()">
                    <span class="glyphicon glyphicon-plus"></span> Add Company
                </a>
            </div>
        </div>
        <!--<div class="row-offcanvas row-offcanvas-left">-->
        <!--<div class="col-md-3">
            <side-bar></side-bar>
        </div>-->
        <div id="site-selection">
            <!--<div>
                <h3>Sites</h3>
            </div>-->
            <!--<p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>-->
            <!--<div class="panel panel-default col-lg-4" style="background-color:lightgreen">
                <div class="panel-body">Jeppesen 615 Dandenon Rd</div>
            </div>
            <div class="panel panel-default col-lg-4" style="background-color:orange">
                <div class="panel-body">Hawkers Fishermens Bend</div>
            </div>
            <div class="panel panel-default col-lg-4" style="background-color:tomato">
                <div class="panel-body">Add New Site</div>
            </div>-->
            <div ng-repeat="site in vm.sites">
                <div class="col-sm-2 col-md-3 col-lg-4 nopadding">
                    <div class="dashboard-tile">
                        <span>{{sites.name}}</span>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-6 nopadding">-->
            <div class="dashboard-tile">
                <span>Add New Site</span>
            </div>
            <!--</div>-->
            <!--<ul class="nav nav-pills">
                <li class="nav-divider"></li>
                <li><a ng-href="sites">Jeppesen 615 Dandenon Rd<i class="fa fa-users fa-fw pull-right"></i></a></li>
                <li class="nav-divider"></li>
                <li><a ng-href="sites">Hawkers Fishermens Bend<i class="fa fa-users fa-fw pull-right"></i></a></li>
            </ul>-->
            <!--<create-site></create-site>-->
        </div>
    </div>
    <!--/div--><!--/row-offcanvas -->
</div>

